# Project
.vscode
.idea
.github/*
!.github/workflows/
borealis_data.db
borealis.db
api

# Environment
*.env
env/
.venv
venv/

# Python specific files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
lib/
include/
bin/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
htmlcov/
.pytest_cache/
secret.key

# Operating System specific files
.DS_Store
Thumbs.db