# Project
.vscode
.idea
.github
bot-env

# Environment
*.env
env/
venv/

# SQLite DB and sidecar files
finbot.db
finbot.db-journal
finbot.db-wal
finbot.db-shm

# Python specific files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
lib/
include/
bin/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
htmlcov/
.pytest_cache/

# Operating System specific files
.DS_Store
Thumbs.db